
Enter your details below

10th percentage: <input type="text" [(ngModel)]="user.per10"><br>
12th percentage: <input type="text" [(ngModel)]="user.per12"><br>
graduation percentage: <input type="text" [(ngModel)]="user.perGrad"><br>
10th passing year: <input type="text" [(ngModel)]="user.year10"><br>
12th passing year: <input type="text" [(ngModel)]="user.year12"><br>
graduation passing year:  <input type="text" [(ngModel)]="user.yearGrad"><br>
birth date: <input type="date" [(ngModel)]="user.birthDate"><br>


<button (click)="updateDataToServer()">UpdateDataToServer</button>