
<div class="login-container">
  <h2>Student Registration</h2>
  <form (ngSubmit)="onRegister()">
      <div>
          <label for="name">Name:</label>
          <input type="text" id="name" [(ngModel)]="name" name="name" required/>
      </div>
      <div>
          <label for="email">Email:</label>
          <input type="text" id="email" [(ngModel)]="email" name="email" required/>
      </div>
      <div>
          <label for="mobile">Mobile:</label>
          <input type="text" id="mobile" [(ngModel)]="mobile" name="mobile" required/>
      </div>

      <button type="submit">Register</button>

      
  </form>
</div>